.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner{
    width: 80%;
}

.banner img{
    width: 100%;
}


@media only screen and (max-width: 1120px) {
    .banner-container{
        display: none;
    }
}